<footer>
  <div class="container-flex" id="contacto">
    <div id="xd" class="row">
      <div class="col-md-4">
        <h2>VIAJA MUNDO</h2>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <h3>Contactanos 987654321</h3>
        </ul>
      </div>
      <div class="icon-container col-md-4">
        <a class="nav-icon position-relative text-decoration-none" href="#">
          <i class="custom-icon">F</i>
        </a>
        <a class="nav-icon position-relative text-decoration-none" href="#">
          <i class="custom-icon">I</i>
        </a>
        <a class="nav-icon position-relative text-decoration-none" href="#">
          <i class="custom-icon">T</i>
        </a>
      </div>
    </div>
  </div>
</footer>