
<div class="container-flex">
    <app-navbar-inicio></app-navbar-inicio>


      <div class="container-flex" id="Primero">

            <div class="text-center">
                <img src="./assets/i1.JPG" alt="I_QuienesSomos" class="img-fluid imagen">
            </div>

      </div>



      <div class="container-flex" id="Dos">
        <div class="text-center">
            <img src="./assets/i2.JPG" alt="I_QuienesSomos" class="img-fluid">
        </div>
      </div>

      <div class="container-flex" id="Tres">
        <div class="text-center">
            <img src="./assets/i3.JPG" alt="I_QuienesSomos" class="img-fluid">
        </div>
      </div>

      <div class="container-flex" id="Cuatro">
        <div class="text-center">
            <img src="./assets/i4.JPG" alt="I_QuienesSomos" class="img-fluid">
        </div>
      </div>

    <app-footer-general></app-footer-general>
    
</div>


