<nav class="custom-navbar">
  <div class="custom-container">
    <a class="navbar-brand" routerLink="">
      <img src="./assets/logo.png" alt="Logo de la empresa" style="height: 80px;">  
      <a class="custom-brand" href="#">VIAJAMUNDO</a>

  </a>

  <form class="custom-form">
      <button class="custom-button" type="submit"><i class="custom-icon"></i> INICIAR SESION</button>
    </form>

    <form class="custom-form">
      <button class="custom-button" type="submit"><i class="custom-icon"></i> CREAR CUENTA</button>
    </form>

  </div>
</nav>
<header></header>