<nav class="custom-navbar">
    <div class="custom-container">
      <a class="navbar-brand" routerLink="">
        <img src="./assets/logo.png" alt="Logo de la empresa" style="height: 80px;"> 
        <a class="custom-brand" href="#">VIAJAMUNDO</a>
    </a>
    

      <button class="custom-toggler" type="button" aria-controls="customNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="custom-toggler-icon"></span>
      </button>
      <div class="custom-collapse" id="customNavbar">
        <ul class="custom-nav">
          <li class="custom-item">
            <a class="custom-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="custom-item">
            <a class="custom-link" href="#">Comunidad</a>
          </li>
          <li class="custom-item">
            <a class="custom-link" href="#">Notificaciones</a>
          </li>
        </ul>
        <form class="custom-form">
          <button class="custom-button" type="submit"><i class="custom-icon"></i> Usuario</button>
        </form>
      </div>
    </div>
  </nav>
